<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  @import url("https://use.typekit.net/zzn5ddj.css");
</style>

  <link rel="stylesheet" href="/css/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h2 class="app-title"><a href="/">The Tech Blog</a></h2>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; 2022
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>