<div class="post card">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <form class="card-body" id="post-form">
        <input type="hidden" id="post-id" value="{{post.id}}"/>

        <label class="form-label" for="post-title">Title</label> 
        <input class="form-input" type="text" id="post-title" value="{{post.title}}"/>

        <label class="form-label" for="post-body">Content</label> 
        <textarea class="form-input" id="post-body">{{post.content}}</textarea>

        <button class="btn" type="submit">Update</button> 

            <button class="btn" type="button" id="delete-btn">Delete</button> 
        </form>
    </div>
    <script src="/js/edit.js"></script>